<% layout('layouts/boilerplate')%>

<h1>未筛选的首页微博内容</h1>
<% for (let weibo of weibos){%>
<div class="card mb-3">
  <div class="card-body">
    <h5 class="card-title">
      <%= weibo.user_nickname %>
      <%= weibo.user_id %>
    </h5>
    <p class="card-text">
      <small class="text-muted">
        <%= weibo.publish_time %> 来自 <%= weibo.publish_tool %>
      </small>
    </p>
    <p class="card-text">
      <%= weibo.content%>
    </p>
  </div>
</div>
<% }%>