<% layout('layouts/boilerplate')%>

<h1>被删改的微博</h1>
<h4>共<%= count %>条，<%= totalPages %>页</h4>
<nav aria-label="Page navigation">
  <ul class="pagination flex-wrap">
    <li class="page-item <%= (page===1)? 'disabled': ''%>">
      <a class="page-link" href="/keepers/?page=<%= page - 1 %>&limit=<%= limit %>" tabindex="-1">Previous</a>
    </li>
    <% for( let p = 1; p < totalPages+1; p++ ) { %>
    <li class="page-item <%= (p===page)? 'active': ''%>">
      <a class="page-link" href="/keepers/?page=<%= p %>&limit=<%= limit %>"><%= p %></a>
    </li>
    <% } %>
    <li class="page-item <%= (page===totalPages)? 'disabled': ''%>">
      <a class="page-link" href="/keepers/?page=<%= page + 1 %>&limit=<%= limit %>">Next</a>
    </li>
  </ul>
</nav>

<% for (let weibo of weibos){%>
<div class="card <%= (weibo.state === 'MODIFIED') ? 'border-warning':'border-danger' %> mb-3">

  <% if (weibo.state === "DELETED" ) { %>
  <p class="card-header text-danger">DELETED</p>
  <% } else if (weibo.state === "DELETED_ORIG" ) { %>
  <p class="card-header text-danger">DELETED_ORIG</p>
  <% } else { %>
  <p class="card-header">Modified</p>
  <% } %>
  <div class="card-body">
    <a href="/users/show/<%= weibo.user_id %> ">
      <h5 class="card-title">
        <%= weibo.user_nickname %>
      </h5>
    </a>
    <p class="card-text">
      <small class="text-muted">
        <%= weibo.publish_time %> 来自 <%= weibo.publish_tool %>
      </small>
    </p>
    <p class="text-muted"><a href="https://weibo.cn/comment/<%= weibo.id %>" target="_blank" rel="noopener noreferrer"><%= weibo.id %></a></p>
    <p class="card-text">
      <%= weibo.content%>
    </p>

    <% if (weibo.original_pictures != "无") { %>
    <div class="row">

      <% for (let pic_link of weibo.original_pictures.split(",")) {%>
      <div class="col-md-3">
        <a href="<%= pic_link %>"><img src="<%= pic_link %>" class="img-thumbnail"></a>
      </div>
      <% } %>
    </div>
    <% } %>

    <% if (weibo.retweet_pictures != "无") { %>
    <div class="row">

      <% for (let pic_link of weibo.retweet_pictures.split(",")) {%>
      <div class="col-md-3">
        <a href="<%= pic_link %>"><img src="<%= pic_link %>" class="img-thumbnail"></a>
      </div>
      <% } %>
    </div>
    <% } %>

    <% if (weibo.video_url != "无") { %>
    <div class="row">
      <a class="text-center" href="<%= weibo.video_url %>">视频链接</a>
    </div>
    <% } %>

  </div>
</div>
<% }%>

<nav aria-label="Page navigation">
  <ul class="pagination flex-wrap">
    <li class="page-item <%= (page===1)? 'disabled': ''%>">
      <a class="page-link" href="/keepers/?page=<%= page - 1 %>&limit=<%= limit %>" tabindex="-1">Previous</a>
    </li>
    <% for( let p = 1; p < totalPages+1; p++ ) { %>
    <li class="page-item <%= (p===page)? 'active': ''%>">
      <a class="page-link" href="/keepers/?page=<%= p %>&limit=<%= limit %>"><%= p %></a>
    </li>
    <% } %>
    <li class="page-item <%= (page===totalPages)? 'disabled': ''%>">
      <a class="page-link" href="/keepers/?page=<%= page + 1 %>&limit=<%= limit %>">Next</a>
    </li>
  </ul>
</nav>